@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: black;
    padding: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;

    flex: 0 0 200px;
}

header > nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav > a {
    background-color: antiquewhite;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
    margin: 2px;
}

header > nav > a:hover {
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 1px 1px 10px white;
    transition: box-shadow .5s;
}

main {
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.507);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
