@charset "UTF-8";

@font-face {
    font-family: 'androgyne';
    src: url('fonts/androgyne.otf') format('opentype'); 
}

@font-face {
    font-family: 'anguita';
    src: url('fonts/anguita.otf') format('opentype');
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5F759;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: androgyne, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3em;
    font-weight: normal;
    color: #B559F7;
    background-color: #ffffffa1;
    border-radius: 50px 50px 50px;
    
    
}

img {
    width: 100px;
}

p#img {
    text-align: center;
    
}

main {
    background-image: linear-gradient(to bottom, #81b86e, #ad4b9d);
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.678);
    text-align: justify;
    color: white;
    margin: auto;

}


